@charset "utf-8";
/* CSS Document */
/*responsivo*/
/*menu*/

@media(max-width:1200px){
	
	.logo{
		margin: 0;
		height: 50px;
	}
	
	#bt_menu:checked ~ .menu{
		margin-left: 0;	}
	
	.menu{
		flex-direction: column;
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
		
	}
	
	.menu ul li{
		width: 100%;
		float: none;
		
	}
	
	
	
	label[for="bt_menu"]{
		display: block;
	}
	
label[for="bt_menu"]:hover{
	background-color: #FFFFFF;
	color: #3D34AD;
}
	
	
	
	
	
	
	
	
	
	
	}

@media only screen and (max-device-width: 800px){
	
	.logo{
		margin: 0;
		height: 50px;
	}
	
	#bt_menu:checked ~ .menu{
		margin-left: 0;	}
	
	.menu{
		flex-direction: column;
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
		
	}
	
	.menu ul li{
		width: 100%;
		float: none;
		
	}
	
	
	
	label[for="bt_menu"]{
		display: block;
	}
	
label[for="bt_menu"]:hover{
	background-color: #FFFFFF;
	color: #3D34AD;
}
	
	
	
	
	
	
	
	
	
	
	}
